{{!-- // Citation for this code:
// Date: 3/2/23
// Based on NodeJS Starter App, written for CS 340
// https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
 
 [ <a href="index">Index</a> | <a href="customers">Customers</a> | <a href="bakeries">Bakeries</a> | <a href="orders.html">Orders</a> |
    <a href="products">Products</a> | <a href="product_categories">Product Categories</a>  | <a href="products_has_orders">Products Has Orders</a>]

<h1>Customers</h1>

<h2>Browse Customers</h2>

   
<!-- Table of Products -->
<table id="product-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.customer_id}}>
            <td>{{this.customer_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.address}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Customer -->
<h2>Add a Customer</h2>
<p>To add a new customer, please enter the information below and click `Submit`!</p>
<form id="add-customer-form" method="POST" action="/add-customer-form">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name-ajax">
    
    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email-ajax">

    <label for="input-address">Address: </label>
    <input type="text" name="input-address" id="input-address-ajax">

    <input type="submit">
</form>
