{{!-- // Citation for this code:
// Date: 3/2/23
// Based on NodeJS Starter App, written for CS 340
// https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
 
<h1>Orders</h1>

<h2>Browse Orders</h2>

   
<!-- Table of Orders -->
<table id="order-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.order_id}}>
            <td>{{this.order_id}}</td>
            <td>{{this.order_total}}</td>
            <td>{{this.order_date}}</td>
            <td>{{this.bakery_id}}</td>
            <td>{{this.customer_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Order -->
<h2>Add an Order</h2>
<p>To add a new order, please enter the information below and click `Submit`!</p>
<p>Then, please click the 'Order Details' tab above to finish entering the order details.</p>
<form id="add-order-form" method="POST" action="/add-order-form">
    <label for="input-total">Order Total: </label>
    <input type="number" name="input-total" id="input-total-ajax" required>
    
    <label for="input-date">Date: </label>
    <input type="date" name="input-date" id="input-date-ajax" required>

    <label for="input-bakery">Bakery ID: </label>
    {{!-- <input type="text" name="input-bakery" id="input-bakery-ajax"> --}}
    <select name="input-bakery" id="input-bakery-ajax">
        <option value="">Select a Bakery</option>
        {{#each bakeries}}
        <option value="{{this.bakery_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-customer">Customer ID: </label>
    {{!-- <input type="text" name="input-customer" id="input-customer-ajax"> --}}
     <select name="input-customer" id="input-customer-ajax">
        <option value="">Select a Customer</option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
