{{!-- // Citation for this code:
// Date: 3/2/23
// Based on NodeJS Starter App, written for CS 340
// https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
 

<h1>Order Details</h1>

<h2>Browse</h2>

   
<!-- Table of Products_has_orders -->
<table id="products-has-orders-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.order_id}}>
            <td>{{this.order_id}}</td>
            <td>{{this.product_id}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<!-- Add Products_has_Orders -->
<h2>Add order details</h2>
<p>To add order details for an existing order, please enter the information below and click `Submit`!</p>
<form id="add-order-details-form" method="POST" action="/add-order-details-form">
    <label for="input-order-id">Order ID: </label>
    <select name="input-order-id" id="input-order-id-ajax">
        <option value="">Select an Order ID</option>
        {{#each orders2}}
        <option value="{{this.order_id}}">{{this.order_id}}</option>
        {{/each}}
    </select>
    
    <label for="input-product">Product: </label>
    {{!-- <input type="text" name="input-bakery" id="input-bakery-ajax"> --}}
    <select name="input-product" id="input-product-ajax">
        <option value="">Select a Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select>

    <label for="input-quantity">Quantity </label>
    <input type="number" name="input-quantity" id="input-quantity">

    <input type="submit">
</form>


<!-- Update Product ID -->
<h2>Update an order's products</h2>
<p>To update a specific order's products, select the combination of Order ID + Product that you'd like to update, and then use the right menu to select the new Product</p>
<form id="update-order-details-form-ajax">

     <label for="input-order-id">Order ID: </label>
    <select name="input-order-id" id="myOrder">
        <option value="">Select an Order ID</option>
        {{#each orders2}}
        <option value="{{this.order_id}}">{{this.order_id}}</option>
        {{/each}}
    </select>
    
    <label for="input-product">Product: </label>
    {{!-- <input type="text" name="input-bakery" id="input-bakery-ajax"> --}}
    <select name="input-product" id="mySelect">
        <option value="">Select a Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select>

    <label for="input-new-product">New Product: </label>
    <select name="input-new-product" id="input-new-product-update">
        <option>Select a new Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>
<script src="./js/update_product_id_order_details.js"></script>